#menus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}

button {
    background-color: black;
    color: white;
    border: 0px;
    padding: 7px;
}

/* #myNewsDropDowns, #myVideoDropdowns, #myPhotoDropdowns, #myChatDropdowns {
   display: none;
} */